.header {
  &-container {
    padding: 40px 80px;
  }

  &-logo {
    a {
      &:hover {
        color: var(--color-secondary);
      }

      path {
        transition: all 0.4s ease;
      }
    }
  }

  &-cta {
    &__group {
      .phone {
        margin-right: 30px;
      }

      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
  }
}
