.header {
  &-container {
    padding: 40px 80px;
    position: relative;
    z-index: 999;
  }

  &-logo {
    a {
      &:hover {
        color: var(--color-secondary);
      }

      path {
        transition: all 0.4s ease;
      }
    }
  }

  &-cta {
    &__group {
      .phone {
        margin-right: 30px;
      }

      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;
    }
  }

  &-popup {
    position: fixed;
    background-color: var(--color-primary);
    z-index: 998;
    width: 100%;
    height: 100vh;
    bottom: 0;
  }
}
