.paronama-tour {
  overflow: hidden;
  height: 100vh;
  position: relative;

  &__control {
    width: calc(100vw - 128px);
    position: absolute;
    z-index: 2;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav-btn {
      &.disabled {
        opacity: 0.5;
        pointer-events: none;
      }
    }

    .control-center {
      .control-hide {
        &::before,
        &::after {
          display: none;
        }

        &.active {
          .icon {
            background: url("../../images/vtourskin.png") -210px 0px / 825px 220px,
              #565440;
          }
        }
      }

      .icon {
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 4;
        background: url("../../images/vtourskin.png") -140px 0px / 820px 220px,
          #e9e4dc;
      }
    }
  }

  canvas {
    cursor: move;
  }
}

.page-3d-tour .header {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent);
}
