.section-gallery {
  position: relative;
  height: 100dvh;
  overflow: hidden;
  background-color: var(--color-primary);

  .gallery {
    &-wrapper {
      color: var(--color-primary);
    }

    &-title {
      color: #2c2926;
      position: absolute;
      z-index: 2;
      left: 50%;
      width: 100%;
      top: 50%;
      transform: translate(50%, -50%);
      opacity: 0.3;
      font-size: 350px;
      line-height: 1;
      text-shadow: none;
      -webkit-text-stroke-width: 1.25px;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke-color: #2c2926;
    }

    &-swiper {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 475px;
      height: 100%;

      .swiper-slide {
        width: 475px;
        height: 475px;
        opacity: 0.3;
        transition: opacity 0.5s ease;
        cursor: pointer;

        &:hover {
          .cta {
            color: var(--color-white);

            &::before {
              transform: scale(0);
            }
          }
        }

        &.swiper-slide-active {
          opacity: 1;
        }

        .image {
          width: 100%;
          height: 100%;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .text {
          font-size: 72px;
          line-height: 90px;
          font-weight: 300;

          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: max-content;
          text-align: center;
          color: #e9e4dc;
          text-transform: uppercase;
        }

        .cta {
          position: absolute;
          bottom: 40px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .gallery-swiper-pagination {
    position: absolute;
    z-index: 3;
    bottom: 32px;
    right: 32px;
    color: var(--color-white);
  }

  .gallery-swiper-next {
    position: absolute;
    bottom: 32px;
    left: 64px;
    transform: rotate(90deg);
  }
}

.modal-gallery {
  transition: all 0.3s ease;

  .modal-body {
    background-color: var(--bg-color);
  }

  .big-title {
    font-size: 130px;
    line-height: 1;
    font-weight: 300;

    position: absolute;
    z-index: 3;
    top: calc(50% - 65px);
    left: -350px;
    transform: translate(50px, -50%);
    width: max-content;
    text-align: center;
    color: #e9e4dc;
    text-transform: uppercase;
  }

  .swiper-gallery-modal {
    padding-left: 400px;
    z-index: 2;
    cursor: move;

    .swiper-slide {
      height: 100dvh;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        width: 100vw;
        object-fit: cover;
      }
    }
  }

  .modal-close {
    position: absolute;
    z-index: 4;
    top: 32px;
    right: 32px;
  }

  .swiper-pagination-custom {
    width: max-content;
    color: #fff;
    position: absolute;
    z-index: 3;
    bottom: 32px;
    right: 32px;
    top: unset;
    left: unset;
    margin: 0;
    mix-blend-mode: difference;
  }

  .slug {
    color: #fff;
    cursor: default;
    font-size: 13px;

    position: absolute;
    z-index: 3;
    top: 32px;
    left: 50px;
    mix-blend-mode: difference;
  }
}
