.slider {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  position: relative;

  &-content {
    width: 50%;
    background-color: #c49f8a;
    z-index: 2;
    height: calc(100% - 100px);
    position: absolute;
    padding: 60px;
    &-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }
    .custom-arrow {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #fff;
      margin: 0;
      transform: translateY(0);
      &::after {
        content: unset;
        font-size: 0;
      }
    }
    .swiper-pagination-fraction {
      position: absolute;
      bottom: 0;
      right: 0;
      left: auto;
      width: auto;
    }
    .swiper-button-prev {
      top: auto;
      bottom: 0;
      left: 0;
    }
    .swiper-button-next {
      top: auto;
      bottom: 0;
      right: auto;
      left: 80px;
    }
    .slider-captions {
      .current-title {
        color: #fff;
        margin-bottom: 40px;
      }
    }
  }
  &-wrapper {
    width: 70%;
    height: 100%;
    position: relative;
    .caption-image {
      position: absolute;
      right: 60px;
      bottom: 60px;
      z-index: 4;
      .current-title-big {
        color: #fff;
        font-size: 100px;
        text-transform: uppercase;
        color: #c49f8a;
      }
    }
  }
  &-empty {
    width: 30%;
  }
}
