:root {
  --color-primary: #565440;
  --color-secondary: #c49f8a;
  --color-third: #2c2926;
  --color-white: #fff;
  --color-black: #000;
}

body {
  background: var(--color-primary);
  font-family: Axiforma, HelveticaNeue-Light, Helvetica Neue Light,
    Helvetica Neue, Helvetica, Arial, sans-serif;

  a {
    transition: all 0.4s ease;

    &:hover {
      color: var(--color-secondary);
    }
  }
}

.color-primary {
  color: var(--color-primary);
}

.color-white {
  color: var(--color-white);
}

.color-black {
  color: var(--color-black);
}
